body {
    display: flex;
    justify-content: space-between; 
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
button{
    text-align: center;
}

.container {
    display: flex;
}

.your_cards { 
    width: 600px;
    border: 2px solid black;
    margin: 70px 20px 10px 60px; 
}

.enemy_cards {
    width: 600px; 
    border: 2px solid rgb(255, 0, 200);
    box-sizing: border-box;
    margin-top: 70px;
    margin-left: auto; 
}

.alignSword{
    margin-top: 100px;
}